/* COLORS
	green: rgb(0, 255, 31)
	pink: rgb(255, 48, 194)
	blue: rgb(40, 184, 175)

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gaegu', cursive;
}

html,body
{
    height: 100%;
    overflow-x: hidden;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #000;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)),
	url(../img/JT-image.png);
	background-size: cover;
	background-position: top 80px center;
	background-attachment: fixed;
}

section {
	height: 100vh;
	margin-bottom: 5%;
}

section h1 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	top: 20%;
	margin: 0 auto;
	text-align: center;
	font-size: 6rem;
}

/************************************************************
HEADER SECTION
************************************************************/
.header {
	height: 40%;
	width: 100%;
	display: grid;
	grid: 100% / 20% 60% 20%;
	grid-gap: 10px;
	align-items: start;
	justify-items: center;
	z-index: 1;
}

.banner-heading {
	grid-column: 2 / 3;
	width: 80%;
	margin: 3%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#banner {
	width: 100%;
}

#banner-2 {
	display: none;
}

.banner-heading p {
	margin: 1%;
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
}

.nav-bar {
	margin-top: 8%;
	grid-column: 1 / 2;
	justify-self: stretch;
	display: flex;
	justify-content: space-between;
	align-items: flex-center;
}

.nav-bar a:link, .nav-bar a:visited {
	margin-left: 8%;
	color: #fff;
	text-decoration: none;
	font-size: 3.5rem;
	transition: color 0.2s ease-in-out;
	/*transition: font-size 0.2s ease-in-out;*/
}

.nav-bar a:hover {
	color: rgb(255, 48, 194);
	/*font-size: 4rem;*/
}

.social-links {
	margin-right: 8%;
	margin-top: 8%;
	grid-column: 3 / 4;
	justify-self: stretch;
	display: flex;
	justify-content: space-evenly;
}

.social-links a:link, .social-links a:visited {
	color: #fff;
	font-size: 3.5rem;
	transition: color 0.2s ease-in-out;
	/*transition: font-size 0.2s ease-in-out;*/
}

.social-links a:hover {
	color: rgb(0, 255, 31);
	/*font-size: 4rem;*/
}

/************************************************************
CREDITS SECTION
************************************************************/

.section-credits {
	margin-top: 10%;
}

.scroll-container {
	position: relative;
	height: 80vh;
	padding-bottom: 5%;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.section-credits .fun, .section-credits .professional {
	visibility: hidden;
}

.cover {
	cursor: pointer;
}

.covers {
	display: grid;
	height: 100vh;
	grid: repeat(auto-fill, 200px) / repeat(auto-fill, 200px);
	grid-gap: 15px;
	justify-content: center;
}

.cover, .cover img {
	max-height: 100%;
	max-width: 100%;
}

.more {
	color: #fff;
	font-size: 2.5rem;
	align-self: end;
	grid-column: span 2;

}

.largeBackground {
	position: fixed;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.85);
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
}

.largeCover {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	margin: 2.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.large img {
	width: 35%;
	max-height: 90%;
}

.caption {
	margin: 0 auto;
	font-size: 3rem;
	color: #fff;
}

.large .close-icon {
	position: fixed;
	top: 2%;
	right: 2%;
	color: #fff;
	font-size: 3rem;
	cursor: pointer;
	background-color: rgba(32,33,36,0.6);
	border-radius: 50%;
	transition: font-size 0.2s ease-in-out;
}

.large .close-icon:hover {
	font-size: 3.2rem;
}

/************************************************************
CONTACT SECTION
************************************************************/

.section-contact {
	margin-top: 5%;
	display: block;
}

.section-header {
	display: flex;
	justify-content: space-around;
}

.section-contact h1 {
	margin: 0;
}

.section-wrapper {
	min-height: 100vh;
	display: block;
	margin-bottom: 5%;
}

.fun {
	transform: rotate(-20deg);
	width: 10%;
	max-height: 100%;
	margin-top: 2%;
}

.professional {
	transform: rotate(20deg);
	width: 20%;
	margin-top: 3%;
}

.fun, .professional {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 1s linear;
	transition: transform .2s ease-in-out;
	align-self: flex-end;
	cursor: pointer;
}

.fun:hover, .professional:hover {
	transform: scale(1.2, 1.2);
}

.footer {
	width: 100%;
	bottom: 0;
	background-color: rgba(255, 48, 194, 0.7);
	display: block;
	padding: 0 1%;
}

.footer p {
	font-size: 2rem;
}

/************************************************************
CONTACT FORM
************************************************************/
.email {
	top: 50%;
	left: 50%;
}

.form {
	max-width: 90%;
	margin: 5% auto 0 auto;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.flex-form {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 2%;
}

.flex-form label {
	font-size: 3rem;
	color: rgb(0, 255, 31);
	letter-spacing: .09em;
	flex: 1 0 120px;
	max-width: 200px;
}
.flex-form input {
	width: 200px;
	height: 25px;
	font-family: Arial;
	font-size: 1.5rem;
}

#message {
	width: 600px;
	height: 250px;
	font-family: Arial;
	font-size: 1.5rem;
}

button {
	width: 100px;
	height: 50px;
	background-color: rgb(0, 255, 31);
	color: #000;
	letter-spacing: .09em;
	font-size: 3rem;
	border: none;
	border-radius: 2px;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

/************************************************************
DROPDOWN MENU (FOR SMALLER SCREENS)
************************************************************/
.menu {
	visibility: hidden;
	position: absolute;
	top: 0%;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.menu-content { visibility: hidden; }

.menu-icon, .menu .close-icon {
	color: #fff;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
	margin-left: 2%;
}

.menu-content a {
	color: #fff;
	text-decoration: none;
	display: block;
}

.menu-content {
	visibility: hidden;
	margin-left: 5%;
}

.menu-icon:hover, .menu-icon:active, .menu .close-icon:hover, .menu .close-icon:active {
	color: #bbb;
}

.menu-content a:hover {
	color: rgb(255, 48, 194);
}

.menu-content ion-icon:hover {
	color: rgb(0, 255, 31);
}

.visible {
	visibility: visible;
}

.black-background {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	height: 100vh;
}

/************************************************************
MEDIA QUERIES
************************************************************/
@media (max-width: 320px) {
	.banner-heading p, .caption {
		font-size: 1.6rem;
	}

	.menu-content a {
		font-size: 2.5rem;
	}

	.menu-icon, .menu .close-icon {
		font-size: 3rem;
	}

	.covers {
		grid: repeat(auto-fill, 100px) / repeat(auto-fill, 100px);
		grid-gap: 10px;
	}

	.large img {
		width: 70%;
	}

	.more {
		font-size: 1rem;
	}

}

@media (min-width: 320px) and (max-width: 479px) {
	.fun, .professional {
		display: none;
	}

	.banner-heading p, .caption {
		font-size: 2rem;
	}

	.menu-content a {
		font-size: 2.5rem;
	}

	.menu-icon, .menu .close-icon {
		font-size: 5rem;
	}

	.covers {
		grid: repeat(auto-fill, 125px) / repeat(auto-fill, 125px);
	}

	.large img {
		width: 65%;
	}

	.more {
		font-size: 1.3rem;
	}

}

@media (min-width: 480px) and (max-width: 639px) {
	.banner-heading p, .caption {
		font-size: 2.8rem;
	}

	.menu-content a {
		font-size: 3rem;
	}

	.menu-icon, .menu .close-icon {
		font-size: 5rem;
	}

	.covers {
		grid: repeat(auto-fill, 125px) / repeat(auto-fill, 125px);
	}

	.large img {
		width: 60%;
	}

	.more {
		font-size: 1.5rem;
	}

}

@media (min-width: 640px) and (max-width: 767px) {
	.banner-heading p, .menu-content a, .caption {
		font-size: 3rem;
	}

	.menu-icon, .menu .close-icon {
		font-size: 5rem;
	}

	.large img {
		width: 55%;
	}

	.more {
		font-size: 1.8rem;
	}

}

@media (max-width: 767px) {
	.header {
		height: 90vh;
		width: 100vw;
		display: block;
		position: relative;
	}

	.nav-bar, .social-links, #banner {
		display: none;
	}

	.menu {
		visibility: visible;
	}

	.banner-heading {
		position: absolute;
		width: 70%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#banner-2 {
		display: block;
		width: 100%;
	}

	.more {
		font-size: 2rem;
	}

}

@media (min-width: 768px) {
	#banner-2 {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	.nav-bar, .social-links {
		flex-direction: column;
		justify-self: center;
		align-items: center;
	}

	.large img {
		width: 50%;
	}
}

@media (min-width: 1024px) and (max-width: 1199px) {

	.nav-bar {
		flex-direction: column;
		justify-self: center;
		align-items: center;
	}

	.large img {
		width: 45%;
	}
}

@media (max-width: 1199px) and (orientation: landscape) {
	.large img {
		width: 30%;
	}
}

@media (max-width: 767px) and (orientation: landscape) {
	.banner-heading {
		width: 50%;
	}

	.banner-heading p {
		font-size: 2rem;
	}
}

